  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      /* border: 0px; */
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
  }

body {
    display: flex;
    flex-direction: column;
    color: #233C7B;
}

/* NAV */

nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

/* Upper Nav */

.upper-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#ineuron-logo {
    height: 41px;
}

.upper-nav input {
    border: 1.5px solid #233C7B;
    border-radius: 5px;
    height: 45px;
    width: 1030px;
}

.upper-nav input::placeholder {
    font-size: 15px;
    color: #233C7B;
    font-weight: 400;
}

#sign-up {
    border: none;
    font-size: 16px;
    color: #233C7B;
    font-weight: 500;
}

#sign-in {
    border: none;
    font-size: 16px;
    background-color: #233C7B;
    color: #ffffff;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-weight: 500;
}

/* Lower Nav */

.lower-nav {
    display: flex;
    justify-content: space-evenly;
}