  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      /* border: 0px; */
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
  }

  * button:hover {
      cursor: pointer;
  }

  body {
      display: flex;
      flex-direction: column;
      color: #233C7B;
  }

  /* NAV */

  nav {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 20px;
  }

  /* Upper Nav */

  .upper-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 90px;
  }

  #ineuron-logo {
      height: 41px;
  }

  #ineuron-logo:hover {
      cursor: pointer;
  }

  .search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px solid #233C7B;
      border-radius: 5px;
      gap: 20px;
  }

  .search-box i {
      font-size: 20px;
      /* font-weight: 200; */
      margin-left: 20px;
  }

  .upper-nav input {
      border: none;
      height: 42px;
      width: 1030px;
  }

  .upper-nav input::placeholder {
      font-size: 15px;
      color: #233C7B;
      font-weight: 400;
  }

  /* .upper-nav :focus {
    shape-outside: none;
  } */

  .sign-buttons {
      display: flex;
      gap: 20px;
  }

  #sign-up {
      border: none;
      font-size: 14px;
      color: #233C7B;
      font-weight: 500;
  }

  #sign-in {
      border: none;
      font-size: 14px;
      background-color: #233C7B;
      color: #ffffff;
      height: 40px;
      width: 100px;
      border-radius: 8px;
      font-weight: 500;
  }

  /* Lower Nav */

  .lower-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 90px;
      padding-bottom: 25px;
  }

  .lower-nav p {
      font-size: 16px;
      font-weight: 600;
  }

  .lower-nav p:hover {
      cursor: pointer;
  }

  .expand-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }

  .carousel {
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    width: 300%;
    animation: carousel-slide 20s infinite;
  }
  
  .carousel-item {
    flex: 33.33%;
  }
  
  @keyframes carousel-slide {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* Achievements */

  .achievment-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 70px;
    gap: 70px;
    padding-bottom: 70px;
  }

  .achievment-1-upper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .achievment-1-upper h1 {
    font-size: 48px;
    font-weight: 600;
  }

  /* .achievment-1-upper i {
    font-size: 100px;
    height: 60px;
  } */

  .achievment-1-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }

  .achievment-1-bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
  }
  
  .achievment-1-bottom-item img {
    height: 160px;
  }

  .achievment-1-bottom-item #count {
    font-size: 36px;
    font-weight: 600;
  }

  .achievment-1-bottom-item #details {
    font-size: 30px;
    font-weight: 600;
    color: #454545;
  }

  /* Achivement 2 */

  .achievment-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF0F5;
    height: 35vh;
    width: 100%;
    gap: 100px;
  }

  .achievment-2-upper {
    background-color: #EEF0F5;
  }

  .achievment-2-upper h1 {
    background-color: #EEF0F5;
    font-size: 48px;
  }

  .achievment-2-bottom {
    background-color: #EEF0F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .achievment-2-bottom img {
    background-color: #EEF0F5;
    height: 45px;
  }