  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      /* border: 0px; */
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
  }

  * button:hover {
      cursor: pointer;
  }

  body {
      display: flex;
      flex-direction: column;
      color: #233C7B;
  }

  /* NAV */

  nav {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 20px;
  }

  /* Upper Nav */

  .upper-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 90px;
  }

  #ineuron-logo {
      height: 41px;
  }

  #ineuron-logo:hover {
      cursor: pointer;
  }

  .search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px solid #233C7B;
      border-radius: 5px;
      gap: 20px;
  }

  .search-box i {
      font-size: 20px;
      /* font-weight: 200; */
      margin-left: 20px;
  }

  .upper-nav input {
      border: none;
      height: 42px;
      width: 1030px;
  }

  .upper-nav input::placeholder {
      font-size: 15px;
      color: #233C7B;
      font-weight: 400;
  }

  .sign-buttons {
      display: flex;
      gap: 20px;
  }

  #sign-up {
      border: none;
      font-size: 14px;
      color: #233C7B;
      font-weight: 500;
  }

  #sign-in {
      border: none;
      font-size: 14px;
      background-color: #233C7B;
      color: #ffffff;
      height: 40px;
      width: 100px;
      border-radius: 8px;
      font-weight: 500;
  }

  /* Lower Nav */

  .lower-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 90px;
      padding-bottom: 25px;
  }

  .lower-nav p {
      font-size: 16px;
      font-weight: 600;
  }

  .lower-nav p:hover {
      cursor: pointer;
  }

  .expand-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }

  .banners {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .banners img {
    width: 100vw;
    /* height: 90vh; */
  }